/check.in
/check.out
/config.status
/config.tmp
/kccachetest
/kcdirmgr
/kcdirtest
/kcforestmgr
/kcforesttest
/kcgrasstest
/kchashmgr
/kchashtest
/kclangctest
/kcpolymgr
/kcpolytest
/kcprototest
/kcstashtest
/kctreemgr
/kctreetest
/kcutilmgr
/kcutiltest
/libkyotocabinet.a
/config.log